.gradient-background {
    /* Degradado de colores */
    background: linear-gradient(to bottom, #E5E5E5, #a1d6d4);
    
    /* Estilo de fondo a pantalla completa */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }